/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  padding: 0;
  margin: 0;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/

/* general styling */

@font-face {
	font-family: 'Pakenham';
	src: url('PAKENHAM-RG.otf')
}

html {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #202427;
}

:focus-visible {
	border: dashed 5px magenta;
}

h2, h3 {
	font-family: 'Pakenham';
	font-weight: 400;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	color: #c9bebe;
}

ul {
	list-style-type: none;
}

/* STARTING OVER */

/* HEADER */

/* TOP NAV */
header > nav:nth-of-type(1) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: relative;
    /* width: 75%; */
    padding: 20%;
    margin: auto;
    height: 100%;
    padding-block: 0.5em;
} 

/* newgrounds logo */
header > nav:nth-of-type(1) > span:nth-of-type(1) {
	cursor: pointer;
}

/* input field input */
header > nav:nth-of-type(1) > span:nth-of-type(2) > input {
    border: none;
    border-radius: 1em;
	padding-inline: 10em;
	padding-block: 0.25em;
    background: gray;
	box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #202427;
}

header > nav:nth-of-type(1) > span:nth-of-type(2) > input::placeholder {
	color: rgba(0, 0, 0, 0.8);
	font-weight: bold;
}

/* top-right icons */
header > nav:nth-of-type(1) > span:nth-of-type(3) > ul {
	display: flex;
	gap: 2.5em;

	li {
		cursor: pointer;
	}
}

/* BOTTOM NAV */

header > nav:nth-of-type(2) {
	background-color: black;
	color: white;
}

header > nav:nth-of-type(2) > span {
	margin-inline: 20%;
	list-style-type: none;
	text-align: center;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-evenly;
}

header > nav:nth-of-type(2) > span > a {
	padding: .8em;
	flex-grow: 1;
	flex: 1 1 0px;
	cursor: pointer;
}

header > nav:nth-of-type(2) > span > a:nth-of-type(1) {
	border-bottom: solid .3em #f62f36;
}

header > nav:nth-of-type(2) > span > a:nth-of-type(2) {
	border-bottom: solid .3em #2684de;
}

header > nav:nth-of-type(2) > span > a:nth-of-type(3) {
	border-bottom: solid .3em #47b32a;
}

header > nav:nth-of-type(2) > span > a:nth-of-type(4) {
	border-bottom: solid .3em #f136a1;
}

header > nav:nth-of-type(2) > span > a:nth-of-type(5) {
	border-bottom: solid .3em #c64be2;
}

header > nav:nth-of-type(2) > span > a:nth-of-type(6) {
	border-bottom: solid .3em #ec5216;
}

header > nav:nth-of-type(2) > span > a:nth-of-type(7) {
	border-right: none;
	border-bottom: solid .3em #f1b859;
}

/* background img */
main > section:nth-of-type(1) {
	display: block;
	width: 100%;
	background-image: url('//img.ngfiles.com/themes/000/2e63ba301721177992.webp?1721178004');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	padding-top: 1%;
	padding-bottom: 1%;
}
/* ------------------------- */

/* section:nth-of-type(1) = background-img */
/* section:nth-of-type(2) = header of grid */

/* grid outer part (outer) */
main > section:nth-of-type(1) > article:first-of-type {
	background: #22252A;
	border-radius: .3em;
	width: 60%;
	height: auto;
	margin-inline: 20%;
}
/* ------------- */

/* main header (Featured Games + Featured Art) */
main > section:nth-of-type(1) > article:nth-of-type(1) > section:nth-of-type(1) {
    display: flex;
    justify-content: flex-start;
    border-radius: inherit;
    padding: 0.5em;
    background-image: linear-gradient(#4D565D, #202427);
    flex-wrap: wrap;
    align-items: center;
}
/* --------------------------------- */

/* Featured games icon styling */
main > section:nth-of-type(1) > article:nth-of-type(1) > section:nth-of-type(1) > div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
	width: 2.5em;
	height: 2.5em;
	vertical-align: middle;
	border-radius: 0.3em;
	margin-right: 0.5em;
}	

/* Featured games icon that goes inside of the div */
main > section:nth-of-type(1) > article:nth-of-type(1) > section:nth-of-type(1) > div > img {
	width: 2em;
	height: 2em;
	background-repeat: no-repeat;
	background-position: 0px -32.3em;
	border-radius: 0.15em;
	object-fit: contain;
}

/* Game Dev Forum button */
main > section:nth-of-type(1) > article:nth-of-type(1) > section:nth-of-type(1) > button {
    padding: 0.8em;
	text-align: center;
    border-radius: 0.4em;
    border: 0;
    font-weight: bold;
	background-color: rgba(0,0,0,0.5);
    color: #fda238;
	cursor: pointer;
}

/* Hovering over Game Dev Forum button */
main > section:nth-of-type(1) > article:nth-of-type(1) > section:nth-of-type(1) > button:hover {
	background-color: #fda238;
	color: rgba(0,0,0,0.5);
    font-weight: 700;
}

/* Featured Games header */
main > section:nth-of-type(1) > article:nth-of-type(1) > section:nth-of-type(1) > h2 {
	flex-grow: 1;
	text-align: left;
}
	
/* grid inner part */
main > section:nth-of-type(1) > article:nth-of-type(1) > ul:nth-of-type(1) {
	display: grid;
	background-color: #111;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	height: auto;
	padding: 1em;
	gap: 0.5em;
} 
/* --------------------- *


/* grid items */
main > section:nth-of-type(1) > article:nth-of-type(1) > ul:nth-of-type(1) > li {
	border-radius: 0.4em;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 0.5em;
	cursor: pointer;

	h3 {
		font-family: Arial, Helvetica, sans-serif;
		font-size: medium;
	}

	p {
		font-size: smaller;
		color: #c9bebe;
	}
}

/* add animation to hover */
main > section:nth-of-type(1) > article:nth-of-type(1) > ul:nth-of-type(1) > li:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
/* ------------------------- */


/* maturity indicator */
main > section:nth-of-type(1) > article:nth-of-type(1) > ul:nth-of-type(1) > li > div:nth-of-type(1) {
	display: inline;
}

main > section:nth-of-type(1) > article:nth-of-type(1) > ul:nth-of-type(1) > li > div:nth-of-type(1) > img {
	width: 1.2em;
    height: auto;
    position: absolute;
}
/* ----------------------- */

/* clip-path */
main > section:nth-of-type(1) > article:nth-of-type(1) > ul:nth-of-type(1) > li > img {
	width: 95%;
	/* height: 100; */
	clip-path: polygon(0 28px, 1px 26px, 2px 25px, 4px 24px, 18px 24px, 20px 23px, 21px 22px, 22px 20px, 22px 4px, 23px 2px, 24px 1px, 26px 0px, 100% 0, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 28px, 1px 26px, 2px 25px, 4px 24px, 18px 24px, 20px 23px, 21px 22px, 22px 20px, 22px 4px, 23px 2px, 24px 1px, 26px 0px, 100% 0, 100% 100%, 0 100%);
}
/* ------------------ */

/* FEATURED CONTENT */
main > section:nth-of-type(2) {
	display: flex;
	padding-inline: 10%;
	padding-block: 0.2em;
	justify-content: space-around;
	align-items: center;
	border-top: solid 0.2em black; 
	border-bottom: solid 0.2em black; 
	background-color: rgba(0,0,0,0.3);
}

/* CONTENT */
main > section:nth-of-type(2) > h3 {
	text-transform: uppercase;
	text-align: center;
	color: #83949D;
	font-weight: 700;
	font-size: 1.5em;
}

/* FEATURED */
main > section:nth-of-type(2) > h3::before {
	content: 'featured';
	font-weight: 400;
	color: white;
}

/* FEATURED CONTENT buttons */
main > section:nth-of-type(2) > ul > button {
	cursor: pointer;
	width: 7em;
    padding: 0 0.3em;
    margin: auto;
    line-height: 2em;
    height: 2em;
    text-align: left;
	border: 0.1em solid #000;
    border-top-color: rgba(255,255,255,0.5);
    border-left-color: rgba(255,255,255,0.5);
	font-size: 1em;
    font-weight: normal;
    font-family: "headerfont","Pakenham","Arial Narrow",Tahoma,Verdana,Geneva,Arial,Helvetica,sans-serif;
    color: #fff;
    background-color: #353334;
    background: -moz-linear-gradient(top, #595554 0%,#595554 35%,#353334 65%,#353334 100%);
    background: -webkit-linear-gradient(top, #595554 0%,#595554 35%,#353334 65%,#353334 100%);
    background: linear-gradient(to bottom, #595554 0%,#595554 35%,#353334 65%,#353334 100%);
}

main > section:nth-of-type(2) > ul > button::after {
	content: "";
    float: right;
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 5px;
    margin-top: 0.8em;
    border: 1px solid rgba(0,0,0,0.8);
}

main > section:nth-of-type(2) > ul > button:nth-of-type(1)::after {
	background-color: #2684de;
}

main > section:nth-of-type(2) > ul > button:nth-of-type(2)::after {
	background-color: #f62f36;
}

main > section:nth-of-type(2) > ul > button:nth-of-type(3)::after {
	background-color: #47b32a;
}

main > section:nth-of-type(2) > ul > button:nth-of-type(4)::after {
	background-color: #f136a1;
}

main > section:nth-of-type(2) > ul > button:nth-of-type(5)::after {
	background-color: #c64be2;
}

main > section:nth-of-type(2) > ul > button:nth-of-type(6)::after {
	background-color: #fad4c5;
}

/* FOOTER */

footer {
	background-image: linear-gradient(#312E45, #554C53);
	width: auto;
	height: auto;
}

footer > section {
	padding-block: 1em;
}

footer > section > span {
	display: flex;
	justify-content: space-evenly;
    flex-direction: row;
	padding-inline: 10%;
}

footer > section > span > section > ul > li > a {
	color: #fda238;
	text-decoration: none;
	font-size: small;
}

footer > section > span > section > ul > li > a:hover {
	color: white;
}


footer > section > div {
	background-image: url("//img.ngfiles.com/bg-footer/footer-skyline.webp?cached=1707337411");
    background-repeat: no-repeat;
    background-size: cover;
    height: 8em;
}

/* NEXT PAGE --> Community*/

/* [class="community"] {
	main > section:nth-of-type(1) > article {
		BLABLABLA CODE
	}
} */

/* MAIN GRID | main > background-img > main content (grid) */
.community main > section:nth-of-type(1) > section:nth-of-type(1) {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-auto-rows: auto;
	gap: 1em;
	padding-inline: 20%;
}

/* GRID ITEMS | */
.community main > section:nth-of-type(1) > section:nth-of-type(1) > section {
	outline: solid 0.2em rgba(0, 0, 0, 0.8);
	background-color: black;
	border-radius: .3em;
}

/* GRID ITEM HEADER */
.community main > section:nth-of-type(1) > section:nth-of-type(1) > section > h2 {
	background-image: linear-gradient(#4D565D, #202427);
	padding-inline: .3em;
	padding-block: .2em;
}

/* GRID ITEM padding (outside of the flexbox) */
.community main > section:nth-of-type(1) > section:nth-of-type(1) > section > section {
	padding: .4em;
}

/* item spacing */
.community main > section:nth-of-type(1) > section:nth-of-type(1) > section > section > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}




.community main > section:nth-of-type(1) > section:nth-of-type(1) > section > section > ul > li {
	flex-grow: 1;
}

.community main > section:nth-of-type(1) > section:nth-of-type(1) > section > section > ul > li:nth-of-type(2) > h4 {
	cursor: pointer;
	color: #fda238;
}

/* Users of the day BUTTON */
.community main > section:nth-of-type(1) > section:nth-of-type(1) > section > section > ul > li > button {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	padding: 0.5em;
	border-radius: 10px;
	font-size: 1em;
	color: #fff;
	font-weight: 900;
	background-color: #ff530e;
}

/* Button changes color on hover */
.community main > section:nth-of-type(1) > section:nth-of-type(1) > section > section > ul > li > button:hover {
	background-color: #fff;
	color: #ff530e;
}


.community main > section:nth-of-type(1) > section:nth-of-type(1) > section:nth-of-type(3) > section > ul {
	flex-direction: column;
}

.community main > section:nth-of-type(1) > section:nth-of-type(1) > section:nth-of-type(3) > section > ul > li {
	display: flex;
	justify-content:space-between;
	align-items: center;
} 

.community main > section:nth-of-type(1) > section:nth-of-type(1) > section:nth-of-type(3) > section > ul > li > section > h4 {
	color: #fda238;
}






