/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  padding: 0;
  margin: 0;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/

/* general styling */
@font-face {
	font-family: 'Pakenham';
	src: url('PAKENHAM-RG.otf')
}

:focus-visible {
	border: dashed 5px magenta;
}

ul {
	list-style-type: none;
}

a {
	all: unset;
	flex-grow: 1;
	text-align: center;
	padding-block: .8em;
	background-color: black;
}

h2 {
	font-family: 'Pakenham';
	font-size: 1.8em;
	font-weight: 600;
}

html {
	background-color: #22252a;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

/* header container, includes nav(1) and nav(2) [hieronder]*/
header {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}
/* ------------------------------------------------------- */

nav > span:nth-of-type(2) > input {
	border: none;
    margin: 0px;
    padding: 4px 12px;
    padding-right: 24px;
    border-radius: 999px;
    background: rgba(255,255,255,0.2);
    width: calc(100% - 36px);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #202427;
}

/* nav stuff */
nav:nth-of-type(1), nav:nth-of-type(2), span > ul {
	display: flex;
	justify-content: space-between;
	margin-inline: 20%;
}
/* ------------------------------------ */

/* nav bottom border colors */
nav:nth-of-type(2){
	a:nth-of-type(1) {
		border-bottom: solid .3em #f62f36;
	}

	a:nth-of-type(2) {
		border-bottom: solid .3em #2684de;
	}

	a:nth-of-type(3) {
		border-bottom: solid .3em #47b32a;
	}

	a:nth-of-type(4) {
		border-bottom: solid .3em #f136a1;
	}

	a:nth-of-type(5) {
		border-bottom: solid .3em #c64be2;
	}

	a:nth-of-type(6) {
		border-bottom: solid .3em #ec5216;
	}

	a:nth-of-type(7) {
		border-right: none;
		border-bottom: solid .3em #f1b859;
	}
}
/* ---------------------------------------- */

/* background img */
main > section:first-child {
	display: block;
	width: 100%;
	height: 100vh;
	background-image: url('//img.ngfiles.com/themes/000/2e63ba301721177992.webp?1721178004');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	padding-top: 2%;
}
/* ------------------------- */

/* section:nth-of-type(1) = background-img */
/* section:nth-of-type(2) = header of grid */

/* grid outer part (outer) */
main > section:nth-of-type(1) > article:first-of-type {
	background: #22252A;
	border-radius: .3em;
	width: 60%;
	height: auto;
	margin-inline: 20%;
}
/* ------------- */

/* main header (Featured Games + Featured Art) */
main > section:nth-of-type(1) > article:nth-of-type(1) > section:nth-of-type(1) {
	display: flex;
	justify-content: space-between;
	border-radius: inherit;
	padding: 0.5em;
	background-image: linear-gradient(#4D565D, #202427);
}
/* --------------------------------- */

main > section:nth-of-type(1) > article:nth-of-type(1) > section:nth-of-type(1) > h2::before {
	/* shrink this somehow */
	content: "";
	display: inline-block;
	width: 4em;
	height: 4em;
	background-color: rgba(0,0,0,0.5);
	vertical-align: middle;
	margin-left: -3px;
	margin-top: -2px;
	margin-right: 5px;
	background-image: url(//img.ngfiles.com/icons/h2-all-hd.webp?cached=1707337414);
	background-repeat: no-repeat;
	background-position: 0px -32.3em;
	border-radius: 0.15em;
	object-fit:contain;
}

/* grid inner part */
main > section:nth-of-type(1) > article:nth-of-type(1) > ul:nth-of-type(1) {
	display: grid;
	background-color: #111;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	height: auto;
	padding: 1em;
	gap: 0.5em;
} 
/* --------------------- *


/* grid items */
main > section:nth-of-type(1) > article:nth-of-type(1) > ul:nth-of-type(1) > li {
	/* outline: solid 1px green; */
	border-radius: 0.4em;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 0.5em;
}

/* add animation to hover */
main > section:nth-of-type(1) > article:nth-of-type(1) > ul:nth-of-type(1) > li:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
/* ------------------------- */

/* maturity indicator */
main > section:nth-of-type(1) > article:nth-of-type(1) > ul:nth-of-type(1) > li > div:nth-of-type(1) {
	display: inline;
}

main > section:nth-of-type(1) > article:nth-of-type(1) > ul:nth-of-type(1) > li > div:nth-of-type(1) > img {
	width: 0.9em;
    height: auto;
    position: absolute;
    text-transform: uppercase;
}
/* ----------------------- */

/* clip-path */
main > section:nth-of-type(1) > article:nth-of-type(1) > ul:nth-of-type(1) > li > img {
	width: 95%;
	/* height: 100; */
	clip-path: polygon(0 28px, 1px 26px, 2px 25px, 4px 24px, 18px 24px, 20px 23px, 21px 22px, 22px 20px, 22px 4px, 23px 2px, 24px 1px, 26px 0px, 100% 0, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 28px, 1px 26px, 2px 25px, 4px 24px, 18px 24px, 20px 23px, 21px 22px, 22px 20px, 22px 4px, 23px 2px, 24px 1px, 26px 0px, 100% 0, 100% 100%, 0 100%);
}
/* ------------------ */

/* FEATURED CONTENT */
main > section:nth-of-type(2) {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 3em;
	padding-inline: 18em;
}

main > section:nth-of-type(2) > h2 {
	text-transform: uppercase;
	color: #83949D;
	font-weight: 700;
	font-size: 2.5em;
}

main > section:nth-of-type(2) > h2::before {
	content: 'featured';
	font-weight: 400;
	color: white;
}

main > section:nth-of-type(2) > ul {
	display: block;
	float: right;

}

main > section:nth-of-type(2) > ul > button {
	width: 122px;
    padding: 0px 6px;
    margin: 0px;
    line-height: 30px;
    height: 30px;
    text-align: left;
    border: 1px solid #000;
    border-top-color: rgba(255,255,255,0.5);
    border-left-color: rgba(255,255,255,0.5);
    font-size: 16px;
    font-weight: normal;
    font-family: "headerfont","Pakenham","Arial Narrow",Tahoma,Verdana,Geneva,Arial,Helvetica,sans-serif;
    color: #fff;
    background-color: #353334;
    background: -moz-linear-gradient(top, #595554 0%,#595554 35%,#353334 65%,#353334 100%);
    background: -webkit-linear-gradient(top, #595554 0%,#595554 35%,#353334 65%,#353334 100%);
    background: linear-gradient(to bottom, #595554 0%,#595554 35%,#353334 65%,#353334 100%);
}

main > section:nth-of-type(2) > ul > button::after {
	content: "";
    display: inline-block;
    float: right;
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 5px;
    margin-top: 11px;
    border: 1px solid rgba(0,0,0,0.8);
}

/* FOOTER */
footer {
	display: flex;
	justify-content: space-evenly;
	width: inherit;
	padding-inline: 16em;
	margin-bottom: 3em;
}

/* 
	background-image: url("//img.ngfiles.com/bg-footer/footer-skyline.webp?cached=1707337411");
	background-repeat: no-repeat;
	background-size: cover;
*/