/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/

@font-face {
	font-family: 'Newgrounds Font';
	src: url('NEWGROUNDSFONT-REGULAR.otf');
}

:focus-visible {
	border: dashed 5px magenta;
}

/* geeft achtergrond + font default = wit & arial */
html {
	background-color: #22252a;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
/*------------------ */ 

h1 {
	font-family: 'Newgrounds Font';
	text-transform: uppercase;
}

a {
	all: unset;
}

header {
	display: flex;
	justify-content: space-between;
  	justify-items: center;
  	align-items: center;
}

header > section > ul {
	display: flex;
	justify-content: space-evenly;
	color: red;
	list-style-type: none;
	padding-left: -40px;
}

nav {
	/* background-color: black; */
	list-style-type: none;
	text-align: center;
  	display: flex;
  	justify-content: space-evenly;
}

nav > button {
	all: unset;
	background-color: black;
	position: relative;
	cursor: pointer;
	padding: 1em;
  	flex: 1 1 1em;
}

main {
	display: grid;
	grid-template-rows: auto;
}

/* borders onder de nav buttons */

nav > button:nth-of-type(1) {
	border-bottom: solid .3em #f62f36;
}

nav > button:nth-of-type(2) {
	border-bottom: solid .3em #2684de;
}

nav > button:nth-of-type(3) {
	border-bottom: solid .3em #47b32a;
}

nav > button:nth-of-type(4) {
	border-bottom: solid .3em #f136a1;
}

nav > button:nth-of-type(5) {
	border-bottom: solid .3em #c64be2;
}

nav > button:nth-of-type(6) {
	border-bottom: solid .3em #ec5216;
}

nav > button:nth-of-type(7) {
	border-right: none;
	border-bottom: solid .3em #f1b859;
}

/* ---------------------- */

/* grid met de content */

section:has(div) {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
}

button:nth-of-type(1):has(:checked) section:nth-of-type(4){
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (min-width: 800px) 
{
	html {
		margin-left: 800px;
		margin-right: 800px;
	}
}

@media (max-width: 1920px)
{
	html {
		margin-left: 25%;
		margin-right: 25%;
	}
}